@model IEnumerable<BuyU.Models.Brand>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="padding-top:80px;" class="row">
    <h1>Brands</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BrandName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Photo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BrandName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Photo)
                </td>
                <td>
                        <a class="btn btn-primary rounded-pill" asp-action="Edit" asp-route-id="@item.BrandId">Edit</a> |
                        <a class="btn btn-secondary rounded-pill" asp-action="Details" asp-route-id="@item.BrandId">Details</a> |
                        <a class="btn btn-danger rounded-pill" asp-action="Delete" asp-route-id="@item.BrandId">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>