@using BuyU.Controllers
@model PaginatedList<Product>
@{
    ViewData["Title"] = "BuyU";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body onload="checkFilters()">
    <form id="Filters" name="Filters" asp-action="Index" method="get" class="input-group">
        <div class="col-1">
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" id="sorts" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Sort By
                </a>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-action="Index" asp-route-sortOrder="PriceHighTolow" asp-route-searchKey="@ViewData["searchKey"]" asp-route-category="@ViewData["category"]">Price High To Low</a></li>
                    <li><a class="dropdown-item" asp-action="Index" asp-route-sortOrder="PricelowToHigh" asp-route-searchKey="@ViewData["searchKey"]" asp-route-category="@ViewData["category"]">Price low To High</a></li>
                </ul>
            </div>
        </div>

        <div class="col-8 ">
            <input class="col form-control " type="text" id="sKey" asp-route-searchKey="searchKey" name="searchKey" placeholder="Search for Product or brand" value=@ViewBag.Skey />
                <div class=" col " style="text-align:end;">
                        
            
            </div>
            <div class="row">
                <div class="col-8 ms-1 me-1 input-group-btn">
                    @foreach (var brand in @ViewBag.brandsName)
                    {
                    
                            @*<input type="radio" style="width:100%;" class="btn btn-primary" asp-route-category="@brand" id="@brand">*@
                        <input type="radio" class="radio" id=@brand name="category" value="@brand">
                            <label for="@brand">@brand</label>
                    
                    }
                </div>
                <div class="col-8 ms-1 me-1 input-group-btn">
                    @*<input type="radio" class="radio" id="PriceHighTolow" name="sorts" value="Price High To Low" />*@
                    
                </div>
                <div class="input-group-btn d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary m-2">
                        Search
                    </button>
                    <a asp-action="Index" class=" btn btn-outline-secondary  m-2">
                        Cancel
                    </a>
                </div>
                
                
                
            </div>
        </div>
    </form>
    <div class="row mt-3">

        @if (!Model.Any())
        {
            var x = ViewBag.Skey;
            <div class="text-center mt-5" id="searchArea">
                <h2 style="color:blue; font-family:cursive">@($"No Results About {x}")</h2>
            </div>

        }
        @foreach (var item in Model)
        {
            string con;
            <div class="col-3 ">
                <div class="card text-center mr-5 mb-3" style="width: 18rem; height:18rem;">
                    <div class=" img-fluid text-center ">
                        <img class="card-img-top" style="width:100px; height:120px;" src="@item.Photo" alt="@item.Name">
                    </div>
                    <div class="card-body justify-content-between">
                        <h5 class="card-title h-25 ">@item.Name</h5>
                        <p class="card-text">@(item.Description.Length > 50 ? $"{item.Description.Substring(0, 50)}..." : item.Description)</p>
                        <div class="col-md-13 ">
                            
                            @if (User.IsInRole("Admin"))
                            {
                                con = "AdminProducts";
                            }
                            else
                            {
                                con = "UserProducts";
                                
                            }
                            <div class=" card-footer ">
                                <a class="btn btn-outline-secondary btn-sm mb-3" asp-controller=@con asp-action="Details" asp-route-id="@item.ProductId">Details</a>

                                @if (ViewBag.user == string.Empty || !item.Carts.Any(p => p.UserId == ViewBag.user && p.Products.Any(p => p.ProductId == item.ProductId)))
                                {
                                    <a class="btn btn-primary btn-sm mb-3" asp-controller="UserCart" asp-action="AddToCart" asp-route-id="@item.ProductId" onclick="window.location.href='location'">Add To Cart</a>
                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    <div class="pagination justify-content-center m-3">
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           asp-route-searchKey="@ViewData["searchKey"]"
           asp-route-category="@ViewData["category"]"
           class="btn btn-default page-link m-2  @prevDisabled">
            Previous 
        </a>
        <a asp-action="Index"
           asp-route-sortOrder="@ViewData["CurrentSort"]"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           asp-route-searchKey="@ViewData["searchKey"]"
           asp-route-category="@ViewData["category"]"
           class="btn btn-default page-link m-2 @nextDisabled">
            Next
        </a>
    </div>
</body>
</html>
@section Scripts 
{

    <script>
        function checkFilters() {

            try{
                temp = @ViewBag.category
                if (@ViewBag.category!= null) {
                    cat = @ViewBag.category
                        //document.forms["Filters"][cat].checked = true;
                        //document.Filters.category.value = @ViewBag.category;
                        //console.log("test");
                        //document.getElementById(cat).checked = true
                        cat.checked = true;
                }
            }
            catch(err) {}
            
                   
        }
        
    </script>
}


