@model BuyU.Models.Product



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
<div style="padding-top:80px;">
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Product</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Photo)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Photo)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Color)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Color)
            </dd>
        
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Quantity)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.DiscountId)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.DiscountId)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Brand)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Brand.BrandName)
            </dd>
        </dl>
        
        <form asp-action="Delete">
            <input type="hidden" asp-for="ProductId" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</div>
</body>
</html>
