@model BuyU.Models.Product



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div style="padding-top:80px;">
        <h4>Product</h4>
        <hr />
        <div class="d-flex flex-row">
            <dl class="col-6">
               
                <dd class="h2 mt-2">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <hr />
                <dd class="h5 mt-4">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                
                @*<dd class="h2 mt-5" style="color: green">
                    @Html.DisplayFor(model => model.Price)
                </dd>*@
                
               
                
                <dd class="h4 mt-4">
                    @Html.DisplayFor(model => model.Color)
                </dd>

               
                <dd class="h6 mt-4">
                    There are in the stock : 
                    @Html.DisplayFor(model => model.Quantity)
                </dd>

                
                @if(Model.DiscountId!=null)
                {
                    <dd class="h4 mt-4">
                        @Html.DisplayFor(model => model.DiscountId)
                    </dd>
                }
                <dd class="h2 mt-5 mb-5">
                    <span class="p-2 bg-info bg-opacity-10 border border-info border rounded fw-bolder mt-5 ">
                        @Model.Price 
                        Egp

                    </span>
                </dd>
               
                
                <dd class="btn btn-outline-primary">
                    <a asp-controller="UserBrands" asp-action="ProductsOfBrand" asp-route-Id="@Model.BrandId">@Model.Brand.BrandName</a>
                </dd>
                <dd class="h3">
                    @if (!User.Identity.IsAuthenticated || !Model.Carts.Any(p => p.UserId == ViewBag.user))
                    {
                        var id = $"AddButton{Model.ProductId}";
                        <button id=@Model.ProductId class="btn btn-primary btn-sm mb-3 js-add" href="javascript:;" data-id=@Model.ProductId>
                            Add To Cart
                        </button>

                    }
                    else
                    {
                        <button id=@Model.ProductId class="btn btn-success btn-sm mb-3 js-add" href="javascript:;" disabled data-id=@Model.ProductId>
                            In Your Cart
                        </button>
                    }
                </dd>
            </dl>
            <div class="col-4">
                <img class="img-thumbnail" src="@Model.Photo" alt="@Model.Name" />
            </div>
        </div>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>
@section Scripts 
{
    <script>
        $(document).ready(function () {
            $('.js-add').on('click', function () {
                var btn = $(this);
                var id = btn.data('id');
                if (@User.Identity.IsAuthenticated.ToString().ToLower()) {
                    $.ajax({

                        url: '/Cart/AddToCart?id=' + id,
                        success: function () {

                            btn.addClass('disabled');
                            btn.removeClass("btn btn-primary btn-sm mb-3 js-add")
                            btn.addClass("btn btn-success btn-sm mb-3 js-add")
                            document.getElementById(id).innerHTML = "In Your Cart";
                            toastr.success('Product added successfully');

                        },
                        error: function () {
                            toastr.error('Something went wrong');
                        }
                    })
                }
                else {

                    location.replace('/Identity/Account/Login?ReturnUrl=%2FCart%2FAddToCart%3Fok%3Ddet%26id%3D' + id);
                }
                

            })
        })
    </script>
    }